/* static/styles.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
}

.barra-navegacion {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    gap: 30px;
}


.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.logo1{
    display: inline-flex; /* Asegura que se comporte como un elemento en línea con el contenido */
    align-items: center; /* Alinea el contenido del SVG */
}

.logo1 svg {
    display: block; /* Elimina el espacio extra debajo del SVG */
    width: 31px; /* Ajusta según el tamaño necesario */
    height: 31px;  
}

.nav-list ul{
    gap: 0;
}

.nav-list li:nth-child(1){
    margin-right: 0;
}


.nav-list li:nth-child(2) a {
    color: #10147C;
}

.nav-list li:nth-child(3) a,
.nav-list li:nth-child(4) a,
.nav-list li:nth-child(5) a {
    color: #74768F;
}

.nav-list li a:hover{
    color: #10147C;
}

.nav-list li:nth-child(3) { /* Selecciona el tercer elemento (Inicio) */
    margin-left: auto;
}

.nav-list li a{
    font-weight: bold;
}

.nav-list li {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.nav-list a {
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}



main{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.container h1{
    display: flex;
    justify-content: center;
}

#analizar{
    display: none;
}

.titulo1{
    margin-top: 130px;
    text-align: center;
    font-size: 40px;
    color: #10147C;
    font-weight: bold;
    width: 400px;
}

.descripcion1{
    text-align: center;
    font-weight:normal;
    font-size: 15px;
    margin: 0;
}


.titulo2{
    text-align: center;
    font-weight: bold;
    color: #10147C;
}


.opciones{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}


.opciones li{
    border: 2px solid #10147C; /* Borde del cuadro */
    border-radius: 8px;        /* Esquinas redondeadas */
    background-color: #FFFFFF; /* Fondo del cuadro */
    width: 90px;               /* Ancho fijo */
    height: 90px;              /* Alto fijo */
    display: flex;             /* Flexbox dentro del cuadro */
    align-items: flex-end;     /* Texto alineado al final */
    justify-content: center;   /* Centrar horizontalmente el contenido */
    padding: 0;                /* Elimina el padding interno */
    box-sizing: border-box;    /* Incluye borde y padding en el tamaño total */
    text-align: center;        /* Centra el texto si es multilinea */
    font-size: 14px;            /* Ajusta el tamaño de la fuente si es necesario */ 
}
       

.opciones a{
    color: black;
    font-weight: bold;
}

.opciones li:hover{
    border-color: #2488FF;     /* Cambia el color del borde al pasar el mouse */
}

input[type = "file"]{
    display: none;

}

.boton{
    width: 100%;
    display: flex;
    justify-content: center;
}

label{width: 40%;
    display: inline-block;
    text-transform: uppercase;
    color: whitesmoke;
    background-color: #10147C;
    text-align: center;
    padding: 7px 5px;
    font-size: 10px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
}

.anali{
    width: 20%;
    margin: 15px;
}

label i{
    font-size: 20px;
    margin-right: 10px;
}

label:active {
    transform: scale(0.9);
}

.drop-area{
    margin-top: 18px;
    text-align: center;
    border: 5px solid #10147C;
    border-radius: 30px;
    padding: 5px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: 8px;
    place-items: center;
    background-color: #ffffff;
    width: 500px;
    height: 220px;
    padding: 10px;
}

#document{
    width: 20%;
}

.titulo3{
    text-align: center;
    font-weight: bold;
    color: #10147C;
    margin: 0;
}

#custom-button{
    color: #2488FF;
}

.imagen2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10147C;
    width: 15px;
    height: 15px;
}

#file-input{
    color: #10147C;
}

#analizar-button{
    width: 150px;
    height: 30px;
    border-radius: 30px;
    border: 0;
    background-color: #10147C;
    color: #FFFFFF;
}

