/* static/styles.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo{
    color: #4335A7;
    font-family: "Work Sans", serif;
    font-size: 100px;
}

p {
    font-family: "Quicksand", serif;
    color: #D4EBF8;
}


.container {
    padding-top: 150px;
    text-align: center;
    background-color: #000B58;
    width: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    gap: 30px;
}

ul{
    gap: 30px;
}

.opciones{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

